**Purpose of the notebook: Clean coordinates columns and drop stations with uncoherent locations.**

In [1]:
import os
os.chdir("C:/Users/zetru/OneDrive/Mémoire python/")
import numpy as np

In [2]:
import pandas as pd

chemin_du_fichier = 'points-extremes-des-departements-metropolitains-de-france.csv'

df_coordonnées = pd.read_csv(chemin_du_fichier)

print(df_coordonnées.head())

  Departement  Latitude la plus au nord  Latitude la plus au sud  \
0          01                 46.517199                45.611235
1          02                 50.069272                48.837795
2          03                 46.803872                45.930728
3          04                 44.659501                43.668282
4          05                 45.126844                44.186479

   Longitude la plus à l’est  Longitude la plus à l’ouest
0                   6.169736                     4.729097
1                   4.254064                     2.962451
2                   4.005570                     2.280403
3                   6.966820                     5.498010
4                   7.077105                     5.418533

In [3]:
df_coordonnées

,Departement,Latitude la plus au nord,Latitude la plus au sud,Longitude la plus à l’est,Longitude la plus à l’ouest
0,01,46.517199,45.611235,6.169736,4.729097
1,02,50.069272,48.837795,4.254064,2.962451
2,03,46.803872,45.930728,4.005570,2.280403
3,04,44.659501,43.668282,6.966820,5.498010
4,05,45.126844,44.186479,7.077105,5.418533
...,...,...,...,...,...
91,93,49.012398,48.807438,2.602600,2.288254
92,94,48.861405,48.688327,2.613652,2.310222
93,95,49.232197,48.908679,2.590528,1.608799
94,2A,42.381405,41.362165,9.407322,8.540103
95,2B,43.011724,41.832144,9.559226,8.573409

In [4]:
df = pd.read_hdf('df.h5', 'df')
df

,id,type,latitude,longitude,code_postal,ville,nom_carburant,id_carburant,maj,valeur
0,1000001,R,4620100,519800,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-03T08:44:18,1.572
1,1000001,R,4620100,519800,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-05T10:08:11,1.560
2,1000001,R,4620100,519800,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-10T10:09:08,1.603
3,1000001,R,4620100,519800,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-17T12:34:42,1.616
4,1000001,R,4620100,519800,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-17T12:34:44,1.616
...,...,...,...,...,...,...,...,...,...,...
5048601,95870010,R,4893688.8607759,220698.30018219,95870,Bezons,SP98,6,2022-12-27T20:42:31,1.790
5048602,95870010,R,4893688.8607759,220698.30018219,95870,Bezons,SP98,6,2022-12-28T18:50:37,1.790
5048603,95870010,R,4893688.8607759,220698.30018219,95870,Bezons,SP98,6,2022-12-29T19:28:13,1.796
5048604,95870010,R,4893688.8607759,220698.30018219,95870,Bezons,SP98,6,2022-12-30T18:38:23,1.804
5048605,96600001,R,4875637,241048,94600,Choisy-le-Roi,None,None,None,NaN

In [5]:
df['cp'] = df['code_postal'].astype(str).str[:2]

In [6]:
df_merge = pd.merge(df, df_coordonnées, left_on='cp', right_on='Departement')

In [7]:
df_merge.drop(df_merge.columns[-5],axis=1,inplace=True)

In [8]:
def transform_longitude(value):
    value_no_dot = value.replace('.', '')
    if value_no_dot.startswith('-'):
        return value_no_dot[:5]
    else:
        return value_no_dot[:4]
    
def transform_latitude(value):
    value_no_dot = value.replace('.', '')
    return value_no_dot[:5]

df_merge['latitude'] = df_merge['latitude'].apply(transform_latitude)
df_merge['longitude'] = df_merge['longitude'].apply(transform_longitude)

df_merge

,id,type,latitude,longitude,code_postal,ville,nom_carburant,id_carburant,maj,valeur,cp,Latitude la plus au nord,Latitude la plus au sud,Longitude la plus à l’est,Longitude la plus à l’ouest
0,1000001,R,46201,5198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-03T08:44:18,1.572,01,46.517199,45.611235,6.169736,4.729097
1,1000001,R,46201,5198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-05T10:08:11,1.560,01,46.517199,45.611235,6.169736,4.729097
2,1000001,R,46201,5198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-10T10:09:08,1.603,01,46.517199,45.611235,6.169736,4.729097
3,1000001,R,46201,5198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-17T12:34:42,1.616,01,46.517199,45.611235,6.169736,4.729097
4,1000001,R,46201,5198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-17T12:34:44,1.616,01,46.517199,45.611235,6.169736,4.729097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5032426,95870010,R,48936,2206,95870,Bezons,SP98,6,2022-12-23T14:47:11,1.768,95,49.232197,48.908679,2.590528,1.608799
5032427,95870010,R,48936,2206,95870,Bezons,SP98,6,2022-12-27T20:42:31,1.790,95,49.232197,48.908679,2.590528,1.608799
5032428,95870010,R,48936,2206,95870,Bezons,SP98,6,2022-12-28T18:50:37,1.790,95,49.232197,48.908679,2.590528,1.608799
5032429,95870010,R,48936,2206,95870,Bezons,SP98,6,2022-12-29T19:28:13,1.796,95,49.232197,48.908679,2.590528,1.608799
5032430,95870010,R,48936,2206,95870,Bezons,SP98,6,2022-12-30T18:38:23,1.804,95,49.232197,48.908679,2.590528,1.608799

In [9]:
import pandas as pd


def adjust_value(val_str, lower_bound, upper_bound):
    is_negative = val_str.startswith('-')
    prefix = '-' if is_negative else ''
    val = val_str[1:] if is_negative else val_str
    modifications = ['', '0.', '0.0']
    for mod in modifications:
        test_val = prefix + mod + val if mod else prefix + val[:1] + '.' + val[1:]
        try:
            test_float = float(test_val)
            if lower_bound <= test_float <= upper_bound:
                return test_val
        except ValueError:
            continue
    return val_str

def adjust_group_longitude(group):
    representative_row = group.iloc[0]
    val_str = str(representative_row['longitude'])
    lower_bound = representative_row['Longitude la plus à l’ouest']
    upper_bound = representative_row['Longitude la plus à l’est']
    adjusted_val = adjust_value(val_str, lower_bound, upper_bound)
    return adjusted_val

adjusted_longitudes = df_merge.groupby('id').apply(adjust_group_longitude)

df_merge['adjusted_longitude'] = df_merge['id'].map(adjusted_longitudes)

In [10]:
df_merge['adjusted_latitude']=df_merge['latitude'].str[:2] +'.'+df_merge['latitude'].str[2:]

In [11]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5032431 entries, 0 to 5032430
Data columns (total 17 columns):
 #   Column                       Dtype
---  ------                       -----
 0   id                           object
 1   type                         object
 2   latitude                     object
 3   longitude                    object
 4   code_postal                  object
 5   ville                        object
 6   nom_carburant                object
 7   id_carburant                 object
 8   maj                          object
 9   valeur                       float64
 10  cp                           object
 11  Latitude la plus au nord     float64
 12  Latitude la plus au sud      float64
 13  Longitude la plus à l’est    float64
 14  Longitude la plus à l’ouest  float64
 15  adjusted_longitude           object
 16  adjusted_latitude            object
dtypes: float64(5), object(12)
memory usage: 652.7+ MB

df_final=df_merge.drop(columns=['Latitude la plus au nord','Latitude la plus au sud','Longitude la plus à l’est','Longitude la plus à l’ouest'])
df_final

In [12]:
df_final=df_merge

In [13]:
cols = list(df_final.columns)
last_col,ante_col = cols[-1],cols[-2]
cols.remove(last_col)
cols.remove(ante_col)
cols.insert(2, last_col)
cols.insert(3,ante_col)
df_final = df_final[cols]
df_final

,id,type,adjusted_latitude,adjusted_longitude,latitude,longitude,code_postal,ville,nom_carburant,id_carburant,maj,valeur,cp,Latitude la plus au nord,Latitude la plus au sud,Longitude la plus à l’est,Longitude la plus à l’ouest
0,1000001,R,46.201,5.198,46201,5198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-03T08:44:18,1.572,01,46.517199,45.611235,6.169736,4.729097
1,1000001,R,46.201,5.198,46201,5198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-05T10:08:11,1.560,01,46.517199,45.611235,6.169736,4.729097
2,1000001,R,46.201,5.198,46201,5198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-10T10:09:08,1.603,01,46.517199,45.611235,6.169736,4.729097
3,1000001,R,46.201,5.198,46201,5198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-17T12:34:42,1.616,01,46.517199,45.611235,6.169736,4.729097
4,1000001,R,46.201,5.198,46201,5198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-17T12:34:44,1.616,01,46.517199,45.611235,6.169736,4.729097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5032426,95870010,R,48.936,2.206,48936,2206,95870,Bezons,SP98,6,2022-12-23T14:47:11,1.768,95,49.232197,48.908679,2.590528,1.608799
5032427,95870010,R,48.936,2.206,48936,2206,95870,Bezons,SP98,6,2022-12-27T20:42:31,1.790,95,49.232197,48.908679,2.590528,1.608799
5032428,95870010,R,48.936,2.206,48936,2206,95870,Bezons,SP98,6,2022-12-28T18:50:37,1.790,95,49.232197,48.908679,2.590528,1.608799
5032429,95870010,R,48.936,2.206,48936,2206,95870,Bezons,SP98,6,2022-12-29T19:28:13,1.796,95,49.232197,48.908679,2.590528,1.608799
5032430,95870010,R,48.936,2.206,48936,2206,95870,Bezons,SP98,6,2022-12-30T18:38:23,1.804,95,49.232197,48.908679,2.590528,1.608799

In [14]:
df_final=df_final.drop(columns=['latitude','longitude'])

In [15]:
df_final=df_final.dropna()

In [16]:
df_final['adjusted_latitude'] = pd.to_numeric(df_final['adjusted_latitude'])
df_final['adjusted_longitude'] = pd.to_numeric(df_final['adjusted_longitude'])

# Affichage des informations du DataFrame pour vérifier les types de données
df_final

,id,type,adjusted_latitude,adjusted_longitude,code_postal,ville,nom_carburant,id_carburant,maj,valeur,cp,Latitude la plus au nord,Latitude la plus au sud,Longitude la plus à l’est,Longitude la plus à l’ouest
0,1000001,R,46.201,5.198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-03T08:44:18,1.572,01,46.517199,45.611235,6.169736,4.729097
1,1000001,R,46.201,5.198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-05T10:08:11,1.560,01,46.517199,45.611235,6.169736,4.729097
2,1000001,R,46.201,5.198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-10T10:09:08,1.603,01,46.517199,45.611235,6.169736,4.729097
3,1000001,R,46.201,5.198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-17T12:34:42,1.616,01,46.517199,45.611235,6.169736,4.729097
4,1000001,R,46.201,5.198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-17T12:34:44,1.616,01,46.517199,45.611235,6.169736,4.729097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5032426,95870010,R,48.936,2.206,95870,Bezons,SP98,6,2022-12-23T14:47:11,1.768,95,49.232197,48.908679,2.590528,1.608799
5032427,95870010,R,48.936,2.206,95870,Bezons,SP98,6,2022-12-27T20:42:31,1.790,95,49.232197,48.908679,2.590528,1.608799
5032428,95870010,R,48.936,2.206,95870,Bezons,SP98,6,2022-12-28T18:50:37,1.790,95,49.232197,48.908679,2.590528,1.608799
5032429,95870010,R,48.936,2.206,95870,Bezons,SP98,6,2022-12-29T19:28:13,1.796,95,49.232197,48.908679,2.590528,1.608799
5032430,95870010,R,48.936,2.206,95870,Bezons,SP98,6,2022-12-30T18:38:23,1.804,95,49.232197,48.908679,2.590528,1.608799

In [17]:
df_final=df_final.rename(columns={'adjusted_latitude':'latitude','adjusted_longitude':'longitude'})

In [18]:
# j'enlève les quelques stations qui n'ont pas des coordonnées cohérentes : 5 stations soit 837 occurences.

In [19]:
df_final[(df_final['latitude']<df_final['Latitude la plus au sud'])|(df_final['latitude']>df_final['Latitude la plus au nord'])|(df_final['longitude']<df_final['Longitude la plus à l’ouest'])|(df_final['longitude']>df_final['Longitude la plus à l’est'])]['id'].nunique()

5

In [20]:
df_final=df_final[~((df_final['latitude']<df_final['Latitude la plus au sud'])|(df_final['latitude']>df_final['Latitude la plus au nord'])|(df_final['longitude']<df_final['Longitude la plus à l’ouest'])|(df_final['longitude']>df_final['Longitude la plus à l’est']))]

In [21]:
5028439-len(df_final)

837

In [22]:
df_final=df_final.drop(columns=['Latitude la plus au nord','Latitude la plus au sud','Longitude la plus à l’est','Longitude la plus à l’ouest'])
df_final

,id,type,latitude,longitude,code_postal,ville,nom_carburant,id_carburant,maj,valeur,cp
0,1000001,R,46.201,5.198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-03T08:44:18,1.572,01
1,1000001,R,46.201,5.198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-05T10:08:11,1.560,01
2,1000001,R,46.201,5.198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-10T10:09:08,1.603,01
3,1000001,R,46.201,5.198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-17T12:34:42,1.616,01
4,1000001,R,46.201,5.198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-17T12:34:44,1.616,01
...,...,...,...,...,...,...,...,...,...,...,...
5032426,95870010,R,48.936,2.206,95870,Bezons,SP98,6,2022-12-23T14:47:11,1.768,95
5032427,95870010,R,48.936,2.206,95870,Bezons,SP98,6,2022-12-27T20:42:31,1.790,95
5032428,95870010,R,48.936,2.206,95870,Bezons,SP98,6,2022-12-28T18:50:37,1.790,95
5032429,95870010,R,48.936,2.206,95870,Bezons,SP98,6,2022-12-29T19:28:13,1.796,95
5032430,95870010,R,48.936,2.206,95870,Bezons,SP98,6,2022-12-30T18:38:23,1.804,95

In [23]:
df_v1=df_final

In [24]:
df_v1.to_hdf('df_v1.h5',key='df_v1',mode='w')