**Purpose of the notebook: Format the date column to ensure proper datetime type and consistent format for further analysis.**

In [1]:
import os
os.chdir("C:/Users/zetru/OneDrive/Mémoire python/")
import numpy as np
import pandas as pd

In [2]:
df=pd.read_hdf('df_v1.h5','df_v1')
df

,id,type,latitude,longitude,code_postal,ville,nom_carburant,id_carburant,maj,valeur,cp
0,1000001,R,46.201,5.198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-03T08:44:18,1.572,01
1,1000001,R,46.201,5.198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-05T10:08:11,1.560,01
2,1000001,R,46.201,5.198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-10T10:09:08,1.603,01
3,1000001,R,46.201,5.198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-17T12:34:42,1.616,01
4,1000001,R,46.201,5.198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-17T12:34:44,1.616,01
...,...,...,...,...,...,...,...,...,...,...,...
5032426,95870010,R,48.936,2.206,95870,Bezons,SP98,6,2022-12-23T14:47:11,1.768,95
5032427,95870010,R,48.936,2.206,95870,Bezons,SP98,6,2022-12-27T20:42:31,1.790,95
5032428,95870010,R,48.936,2.206,95870,Bezons,SP98,6,2022-12-28T18:50:37,1.790,95
5032429,95870010,R,48.936,2.206,95870,Bezons,SP98,6,2022-12-29T19:28:13,1.796,95
5032430,95870010,R,48.936,2.206,95870,Bezons,SP98,6,2022-12-30T18:38:23,1.804,95

In [3]:
df['maj']=pd.to_datetime(df['maj']).dt.date
df['maj']=pd.to_datetime(df['maj'])

In [4]:
df['maj'].info()

<class 'pandas.core.series.Series'>
Index: 5027602 entries, 0 to 5032430
Series name: maj
Non-Null Count    Dtype
--------------    -----
5027602 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 76.7 MB

In [5]:
df

,id,type,latitude,longitude,code_postal,ville,nom_carburant,id_carburant,maj,valeur,cp
0,1000001,R,46.201,5.198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-03,1.572,01
1,1000001,R,46.201,5.198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-05,1.560,01
2,1000001,R,46.201,5.198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-10,1.603,01
3,1000001,R,46.201,5.198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-17,1.616,01
4,1000001,R,46.201,5.198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-17,1.616,01
...,...,...,...,...,...,...,...,...,...,...,...
5032426,95870010,R,48.936,2.206,95870,Bezons,SP98,6,2022-12-23,1.768,95
5032427,95870010,R,48.936,2.206,95870,Bezons,SP98,6,2022-12-27,1.790,95
5032428,95870010,R,48.936,2.206,95870,Bezons,SP98,6,2022-12-28,1.790,95
5032429,95870010,R,48.936,2.206,95870,Bezons,SP98,6,2022-12-29,1.796,95
5032430,95870010,R,48.936,2.206,95870,Bezons,SP98,6,2022-12-30,1.804,95

In [6]:
df_v2=df

In [7]:
df_v2.to_hdf('df_v2.h5',key='df_v2',mode='w')