**Purpose of the notebook: Add crude oil prices data to the dataset.**

In [1]:
import os
os.chdir("C:/Users/zetru/OneDrive/Mémoire python/")
import numpy as np
import pandas as pd
df=pd.read_hdf('df_v2.h5','df_v2')
df

,id,type,latitude,longitude,code_postal,ville,nom_carburant,id_carburant,maj,valeur,cp
0,1000001,R,46.201,5.198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-03,1.572,01
1,1000001,R,46.201,5.198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-05,1.560,01
2,1000001,R,46.201,5.198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-10,1.603,01
3,1000001,R,46.201,5.198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-17,1.616,01
4,1000001,R,46.201,5.198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-17,1.616,01
...,...,...,...,...,...,...,...,...,...,...,...
5032426,95870010,R,48.936,2.206,95870,Bezons,SP98,6,2022-12-23,1.768,95
5032427,95870010,R,48.936,2.206,95870,Bezons,SP98,6,2022-12-27,1.790,95
5032428,95870010,R,48.936,2.206,95870,Bezons,SP98,6,2022-12-28,1.790,95
5032429,95870010,R,48.936,2.206,95870,Bezons,SP98,6,2022-12-29,1.796,95
5032430,95870010,R,48.936,2.206,95870,Bezons,SP98,6,2022-12-30,1.804,95

In [3]:
df_brent=pd.read_excel("C:/Users/zetru/OneDrive/RBRTEd.xlsx",sheet_name='Data 1')
df_brent

,Back to Contents,Data 1: Europe Brent Spot Price FOB (Dollars per Barrel)
0,Sourcekey,RBRTE
1,Date,Europe Brent Spot Price FOB (Dollars per Barrel)
2,1987-05-20 00:00:00,18.63
3,1987-05-21 00:00:00,18.45
4,1987-05-22 00:00:00,18.55
...,...,...
9294,2024-01-02 00:00:00,76.24
9295,2024-01-03 00:00:00,77.18
9296,2024-01-04 00:00:00,75.79
9297,2024-01-05 00:00:00,78.31
9298,2024-01-08 00:00:00,75.47

In [4]:
df_brent.drop(index=[0,1],inplace=True)
df_brent=df_brent.reset_index(drop=True)
df_brent

,Back to Contents,Data 1: Europe Brent Spot Price FOB (Dollars per Barrel)
0,1987-05-20 00:00:00,18.63
1,1987-05-21 00:00:00,18.45
2,1987-05-22 00:00:00,18.55
3,1987-05-25 00:00:00,18.6
4,1987-05-26 00:00:00,18.63
...,...,...
9292,2024-01-02 00:00:00,76.24
9293,2024-01-03 00:00:00,77.18
9294,2024-01-04 00:00:00,75.79
9295,2024-01-05 00:00:00,78.31
9296,2024-01-08 00:00:00,75.47

In [26]:
df_brent.iloc[8788]

Back to Contents                                            2021-12-31 00:00:00
Data 1: Europe Brent Spot Price FOB (Dollars per Barrel)                  77.24
Name: 8788, dtype: object

In [6]:
ligne_a_garder=df_brent.loc[df_brent['Back to Contents'].astype(str).str.startswith('2022')].index[0]
ligne_a_garder
ligne_a_virer=df_brent.loc[df_brent['Back to Contents'].astype(str).str.startswith('2023')].index[0]
ligne_a_virer

9041

In [7]:
prix_fermeture_2021=df_brent.iloc[ligne_a_garder-1,1]
prix_fermeture_2021
prix_fermeture_2022=df_brent.iloc[ligne_a_virer-1,1]

In [8]:
index_to_drop=list(range(0,ligne_a_garder))+list(range(ligne_a_virer,len(df_brent)))
df_brent_2022=df_brent.drop(index=index_to_drop)

In [9]:
df_brent_2022=df_brent_2022.reset_index(drop=True)
df_brent_2022

,Back to Contents,Data 1: Europe Brent Spot Price FOB (Dollars per Barrel)
0,2022-01-03 00:00:00,78.25
1,2022-01-04 00:00:00,79.39
2,2022-01-05 00:00:00,80.6
3,2022-01-06 00:00:00,81.99
4,2022-01-07 00:00:00,82.28
...,...,...
247,2022-12-22 00:00:00,79.58
248,2022-12-23 00:00:00,82.45
249,2022-12-28 00:00:00,81.7
250,2022-12-29 00:00:00,80.96
251,2022-12-30 00:00:00,82.82

In [10]:
df_brent_2022['Back to Contents'] = pd.to_datetime(df_brent_2022['Back to Contents'])
df_brent_2022.set_index('Back to Contents', inplace=True)
df_brent_2022

                 Data 1: Europe Brent Spot Price FOB (Dollars per Barrel)
Back to Contents
2022-01-03                                                    78.25
2022-01-04                                                    79.39
2022-01-05                                                     80.6
2022-01-06                                                    81.99
2022-01-07                                                    82.28
...                                                             ...
2022-12-22                                                    79.58
2022-12-23                                                    82.45
2022-12-28                                                     81.7
2022-12-29                                                    80.96
2022-12-30                                                    82.82

[252 rows x 1 columns]

In [11]:
df_brent_2022['Data 1: Europe Brent Spot Price FOB (Dollars per Barrel)']=pd.to_numeric(df_brent_2022['Data 1: Europe Brent Spot Price FOB (Dollars per Barrel)'])

In [12]:
all_days = pd.date_range(start=df_brent_2022.index.min(), end=df_brent_2022.index.max(), freq='D')

# Réindexer le dataframe pour inclure tous les jours
df_brent_2022_full = df_brent_2022.reindex(all_days)

# Remplir vers l'avant les valeurs manquantes avec la valeur du jour précédent
df_brent_2022_full.fillna(method='ffill', inplace=True)
df_brent_2022_full.head(20)

            Data 1: Europe Brent Spot Price FOB (Dollars per Barrel)
2022-01-03                                              78.25
2022-01-04                                              79.39
2022-01-05                                              80.60
2022-01-06                                              81.99
2022-01-07                                              82.28
2022-01-08                                              82.28
2022-01-09                                              82.28
2022-01-10                                              81.56
2022-01-11                                              84.98
2022-01-12                                              85.83
2022-01-13                                              85.80
2022-01-14                                              87.17
2022-01-15                                              87.17
2022-01-16                                              87.17
2022-01-17                                              87.82
2022-01-18                                              88.83
2022-01-19                                              89.64
2022-01-20                                              89.75
2022-01-21                                              89.75
2022-01-22                                              89.75

In [13]:
colonnes = pd.DataFrame({'Data 1: Europe Brent Spot Price FOB (Dollars per Barrel)': [prix_fermeture_2021],'Data 1: Europe Brent Spot Price FOB (Dollars per Barrel)':[prix_fermeture_2021]}, index=[pd.to_datetime('2022-01-01'),pd.to_datetime('2022-01-02')])
col_3112= pd.DataFrame({'Data 1: Europe Brent Spot Price FOB (Dollars per Barrel)': [prix_fermeture_2022]}, index=[pd.to_datetime('2022-12-31')])

In [14]:
colonnes

            Data 1: Europe Brent Spot Price FOB (Dollars per Barrel)
2022-01-01                                              77.24
2022-01-02                                              77.24

In [15]:
df_brent_2022_final=pd.concat([colonnes,df_brent_2022_full])
df_brent_2022_final=pd.concat([df_brent_2022_final,col_3112])

In [16]:
df_brent_2022_final

            Data 1: Europe Brent Spot Price FOB (Dollars per Barrel)
2022-01-01                                              77.24
2022-01-02                                              77.24
2022-01-03                                              78.25
2022-01-04                                              79.39
2022-01-05                                              80.60
...                                                       ...
2022-12-27                                              82.45
2022-12-28                                              81.70
2022-12-29                                              80.96
2022-12-30                                              82.82
2022-12-31                                              82.82

[365 rows x 1 columns]

In [17]:
tx_de_change=pd.read_csv("C:/Users/zetru/Downloads/USD_EUR - Données Historiques.csv")
tx_de_change

           Date Dernier    Ouv.  Plus Haut Plus Bas    Vol. Variation %
0    02/01/2023  0,9376  0,9344     0,9390   0,9339  21,16K       0,37%
1    30/12/2022  0,9341  0,9378     0,9399   0,9334  71,53K      -0,41%
2    29/12/2022  0,9379  0,9425     0,9426   0,9354  59,74K      -0,46%
3    28/12/2022  0,9422  0,9396     0,9428   0,9368  56,01K       0,27%
4    27/12/2022  0,9397  0,9401     0,9424   0,9372  68,37K      -0,02%
..          ...     ...     ...        ...      ...     ...         ...
257  06/01/2022  0,8853  0,8838     0,8862   0,8824  66,51K       0,19%
258  05/01/2022  0,8836  0,8860     0,8868   0,8813  45,06K      -0,25%
259  04/01/2022  0,8858  0,8852     0,8872   0,8831  47,58K       0,08%
260  03/01/2022  0,8851  0,8798     0,8866   0,8787  33,87K       0,65%
261  31/12/2021  0,8794  0,8832     0,8848   0,8782  25,72K      -0,40%

[262 rows x 7 columns]

In [18]:
tx_de_change=tx_de_change.iloc[:,:2]
tx_de_change=tx_de_change.iloc[::-1].reset_index(drop=True)
tx_de_change.drop(index=[261],inplace=True)
tx_de_change

           Date Dernier
0    31/12/2021  0,8794
1    03/01/2022  0,8851
2    04/01/2022  0,8858
3    05/01/2022  0,8836
4    06/01/2022  0,8853
..          ...     ...
256  26/12/2022  0,9399
257  27/12/2022  0,9397
258  28/12/2022  0,9422
259  29/12/2022  0,9379
260  30/12/2022  0,9341

[261 rows x 2 columns]

In [19]:
tx_de_change['Dernier']=tx_de_change['Dernier'].str.replace(',','.')
tx_de_change

           Date Dernier
0    31/12/2021  0.8794
1    03/01/2022  0.8851
2    04/01/2022  0.8858
3    05/01/2022  0.8836
4    06/01/2022  0.8853
..          ...     ...
256  26/12/2022  0.9399
257  27/12/2022  0.9397
258  28/12/2022  0.9422
259  29/12/2022  0.9379
260  30/12/2022  0.9341

[261 rows x 2 columns]

In [21]:
tx_de_change['Dernier']=pd.to_numeric(tx_de_change['Dernier'])
tx_de_change['Date'] = pd.to_datetime(tx_de_change['Date'], format='%d/%m/%Y')

In [20]:
colonne_debut_tx = pd.DataFrame({
    'Date': [pd.to_datetime('2022-01-01'), pd.to_datetime('2022-01-02')],
    'Dernier': [0.8794, 0.8794]
}, index=[0, 1])

colonne_fin_tx = pd.DataFrame({
    'Date': [pd.to_datetime('2022-12-31')],
    'Dernier': [0.9376]
}, index=[259])

In [21]:
colonne_debut_tx,colonne_fin_tx

(        Date  Dernier
 0 2022-01-01   0.8794
 1 2022-01-02   0.8794,
           Date  Dernier
 259 2022-12-31   0.9376)

In [22]:
tx_de_change=pd.concat([colonne_debut_tx,tx_de_change])
tx_de_change=pd.concat([tx_de_change,colonne_fin_tx])
tx_de_change.set_index('Date',inplace=True)
tx_de_change.drop(index='2021-12-31',inplace=True)
tx_de_change

            Dernier
Date
2022-01-01   0.8794
2022-01-02   0.8794
2022-01-03   0.8851
2022-01-04   0.8858
2022-01-05   0.8836
...             ...
2022-12-27   0.9397
2022-12-28   0.9422
2022-12-29   0.9379
2022-12-30   0.9341
2022-12-31   0.9376

[263 rows x 1 columns]

In [23]:
all_days_tx = pd.date_range(start=tx_de_change.index.min(), end=tx_de_change.index.max(), freq='D')

# Réindexer le dataframe pour inclure tous les jours
tx_de_change = tx_de_change.reindex(all_days_tx)
tx_de_change

            Dernier
2022-01-01   0.8794
2022-01-02   0.8794
2022-01-03   0.8851
2022-01-04   0.8858
2022-01-05   0.8836
...             ...
2022-12-27   0.9397
2022-12-28   0.9422
2022-12-29   0.9379
2022-12-30   0.9341
2022-12-31   0.9376

[365 rows x 1 columns]

In [24]:
# Remplir vers l'avant les valeurs manquantes avec la valeur du jour précédent
tx_de_change.fillna(method='ffill', inplace=True)
tx_de_change

            Dernier
2022-01-01   0.8794
2022-01-02   0.8794
2022-01-03   0.8851
2022-01-04   0.8858
2022-01-05   0.8836
...             ...
2022-12-27   0.9397
2022-12-28   0.9422
2022-12-29   0.9379
2022-12-30   0.9341
2022-12-31   0.9376

[365 rows x 1 columns]

In [25]:
df_prix_déflaté=pd.merge(df,tx_de_change,left_index=True,right_index=True)

In [26]:
df_merge=pd.merge(df_brent_2022_final,tx_de_change,left_index=True,right_index=True)
df_merge

            Data 1: Europe Brent Spot Price FOB (Dollars per Barrel)  Dernier
2022-01-01                                              77.24          0.8794
2022-01-02                                              77.24          0.8794
2022-01-03                                              78.25          0.8851
2022-01-04                                              79.39          0.8858
2022-01-05                                              80.60          0.8836
...                                                       ...             ...
2022-12-27                                              82.45          0.9397
2022-12-28                                              81.70          0.9422
2022-12-29                                              80.96          0.9379
2022-12-30                                              82.82          0.9341
2022-12-31                                              82.82          0.9376

[365 rows x 2 columns]

In [27]:
df_merge['Prix_Brent_euros']=df_merge['Data 1: Europe Brent Spot Price FOB (Dollars per Barrel)']*df_merge['Dernier']
df_merge['Date']=df_merge.index
df_merge

,Data 1: Europe Brent Spot Price FOB (Dollars per Barrel),Dernier,Prix_Brent_euros,Date
2022-01-01,77.24,0.8794,67.924856,2022-01-01
2022-01-02,77.24,0.8794,67.924856,2022-01-02
2022-01-03,78.25,0.8851,69.259075,2022-01-03
2022-01-04,79.39,0.8858,70.323662,2022-01-04
2022-01-05,80.60,0.8836,71.218160,2022-01-05
...,...,...,...,...
2022-12-27,82.45,0.9397,77.478265,2022-12-27
2022-12-28,81.70,0.9422,76.977740,2022-12-28
2022-12-29,80.96,0.9379,75.932384,2022-12-29
2022-12-30,82.82,0.9341,77.362162,2022-12-30
2022-12-31,82.82,0.9376,77.652032,2022-12-31

In [28]:
df_merge.to_hdf('df_prix_brent_2022.h5','prix_brent_2022')

In [29]:
résultat=pd.merge(df,df_merge,left_on='maj',right_on='Date')

In [32]:
résultat_sorted = résultat.sort_values(by=['cp','id', 'id_carburant', 'maj'])
résultat_sorted

,id,type,latitude,longitude,code_postal,ville,nom_carburant,id_carburant,maj,valeur,cp,Data 1: Europe Brent Spot Price FOB (Dollars per Barrel),Dernier,Prix_Brent_euros,Date
0,1000001,R,46.201,5.198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-03,1.572,01,78.25,0.8851,69.259075,2022-01-03
17089,1000001,R,46.201,5.198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-05,1.560,01,80.60,0.8836,71.218160,2022-01-05
32182,1000001,R,46.201,5.198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-10,1.603,01,81.56,0.8828,72.001168,2022-01-10
47667,1000001,R,46.201,5.198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-17,1.616,01,87.82,0.8763,76.956666,2022-01-17
47668,1000001,R,46.201,5.198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-17,1.616,01,87.82,0.8763,76.956666,2022-01-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2492978,95870010,R,48.936,2.206,95870,Bezons,SP98,6,2022-12-23,1.768,95,82.45,0.9418,77.651410,2022-12-23
2222233,95870010,R,48.936,2.206,95870,Bezons,SP98,6,2022-12-27,1.790,95,82.45,0.9397,77.478265,2022-12-27
2236402,95870010,R,48.936,2.206,95870,Bezons,SP98,6,2022-12-28,1.790,95,81.70,0.9422,76.977740,2022-12-28
4090297,95870010,R,48.936,2.206,95870,Bezons,SP98,6,2022-12-29,1.796,95,80.96,0.9379,75.932384,2022-12-29
2252657,95870010,R,48.936,2.206,95870,Bezons,SP98,6,2022-12-30,1.804,95,82.82,0.9341,77.362162,2022-12-30

In [33]:
résultat_sorted.reset_index(drop=True,inplace=True)
résultat_sorted

,id,type,latitude,longitude,code_postal,ville,nom_carburant,id_carburant,maj,valeur,cp,Data 1: Europe Brent Spot Price FOB (Dollars per Barrel),Dernier,Prix_Brent_euros,Date
0,1000001,R,46.201,5.198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-03,1.572,01,78.25,0.8851,69.259075,2022-01-03
1,1000001,R,46.201,5.198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-05,1.560,01,80.60,0.8836,71.218160,2022-01-05
2,1000001,R,46.201,5.198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-10,1.603,01,81.56,0.8828,72.001168,2022-01-10
3,1000001,R,46.201,5.198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-17,1.616,01,87.82,0.8763,76.956666,2022-01-17
4,1000001,R,46.201,5.198,01000,SAINT-DENIS-LèS-BOURG,Gazole,1,2022-01-17,1.616,01,87.82,0.8763,76.956666,2022-01-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5027597,95870010,R,48.936,2.206,95870,Bezons,SP98,6,2022-12-23,1.768,95,82.45,0.9418,77.651410,2022-12-23
5027598,95870010,R,48.936,2.206,95870,Bezons,SP98,6,2022-12-27,1.790,95,82.45,0.9397,77.478265,2022-12-27
5027599,95870010,R,48.936,2.206,95870,Bezons,SP98,6,2022-12-28,1.790,95,81.70,0.9422,76.977740,2022-12-28
5027600,95870010,R,48.936,2.206,95870,Bezons,SP98,6,2022-12-29,1.796,95,80.96,0.9379,75.932384,2022-12-29
5027601,95870010,R,48.936,2.206,95870,Bezons,SP98,6,2022-12-30,1.804,95,82.82,0.9341,77.362162,2022-12-30

In [34]:
résultat_sorted.drop(columns=résultat_sorted.columns[12],inplace=True)

In [36]:
df=résultat_sorted

In [37]:
for carburant in df['nom_carburant'].unique():
    print(df[df['nom_carburant']==carburant][['id','nom_carburant','valeur']].nsmallest(100,'valeur'))

               id nom_carburant  valeur
4620900  90160001        Gazole   0.001
4138844  79300005        Gazole   0.015
2055855  43000002        Gazole   0.019
665145   16200003        Gazole   0.022
641054   15000005        Gazole   0.042
...           ...           ...     ...
2941516  61230002        Gazole   0.716
2952851  62000005        Gazole   0.717
1600982  34410008        Gazole   0.719
4696393  91450001        Gazole   0.719
159079    5200009        Gazole   0.725

[100 rows x 3 columns]
               id nom_carburant  valeur
89805     2600006          SP95   0.004
3104954  63350003          SP95   0.029
970537   25290001          SP95   0.099
1187377  29500003          SP95   0.158
3023515  62370002          SP95   0.170
...           ...           ...     ...
304694    9100006          SP95   1.000
475909   13122001          SP95   1.000
816797   21140003          SP95   1.000
817103   21150002          SP95   1.000
819449   21160005          SP95   1.000

[100 rows x 3 columns]
               id nom_carburant  valeur
4621233  90160001          SP98   0.001
2265433  46170001          SP98   0.045
1836591  38290005          SP98   0.075
4282537  83160003          SP98   0.077
4432885  85150001          SP98   0.085
...           ...           ...     ...
109347    3300001          SP98   0.762
2681339  57340004          SP98   0.765
4907768  94420001          SP98   0.765
1762861  37230003          SP98   0.769
3904861  77150003          SP98   0.769

[100 rows x 3 columns]
               id nom_carburant  valeur
1333236  31330001           E85   0.001
1333237  31330001           E85   0.001
2955692  62000014           E85   0.029
439507   13013008           E85   0.065
3023804  62380001           E85   0.067
...           ...           ...     ...
520720   13340001           E85   0.506
1637878  34920001           E85   0.506
1097509  27930002           E85   0.507
1097510  27930002           E85   0.507
1097511  27930002           E85   0.507

[100 rows x 3 columns]
               id nom_carburant  valeur
4593085  89190007          GPLc   0.019
4666681  91240001          GPLc   0.063
1389694  31800009          GPLc   0.129
3988325  77680003          GPLc   0.413
3988326  77680003          GPLc   0.413
...           ...           ...     ...
2080461  44110003          GPLc   0.533
2080462  44110003          GPLc   0.533
2080463  44110003          GPLc   0.533
2080464  44110003          GPLc   0.533
2080465  44110003          GPLc   0.533

[100 rows x 3 columns]
               id nom_carburant  valeur
4621079  90160001           E10   0.001
911746   23000007           E10   0.018
4554192  88160002           E10   0.027
2450973  51370002           E10   0.069
1972481  41100003           E10   0.071
...           ...           ...     ...
3358348  68310001           E10   0.720
3413584  69140006           E10   0.721
343352   10700001           E10   0.725
378371   11540001           E10   0.726
2500238  53102002           E10   0.726

[100 rows x 3 columns]

In [38]:
df_last=df.groupby(['cp','id', 'nom_carburant', 'maj']).last().reset_index()

In [40]:
# Ici, je filtre les valeurs extrêmes de mon df :

In [41]:
carburants_concernes = ['Gazole', 'SP95', 'SP98', 'E10']

df_last=df_last[~((df_last['nom_carburant'].isin(carburants_concernes)) & (df_last['valeur'] < 1.3))]

In [42]:
df_last=df_last[~((df_last['valeur'] < 0.3))].reset_index(drop=True)

In [43]:
df_last=df_last[df_last['valeur']!=1].reset_index(drop=True)

In [44]:
df_last=df_last[~((df_last['valeur'] >2.78))].reset_index(drop=True)

In [45]:
GPL_E85 = ['GPLc', 'E85']

df_last=df_last[~((df_last['nom_carburant'].isin(GPL_E85)) & (df_last['valeur'] >1.4))].reset_index(drop=True)

In [46]:
for carburant in df_last['nom_carburant'].unique():
    print(df_last[df_last['nom_carburant']==carburant][['id','nom_carburant','valeur','maj']].nlargest(150,'valeur'))

               id nom_carburant  valeur        maj
3410027  75014008        Gazole   2.760 2022-10-24
3410013  75014008        Gazole   2.720 2022-03-10
3956408  83990002        Gazole   2.719 2022-03-10
499240   13550001        Gazole   2.709 2022-03-10
3396699  75007003        Gazole   2.700 2022-06-16
...           ...           ...     ...        ...
2166339  50430001        Gazole   2.510 2022-03-14
2321721  55200003        Gazole   2.510 2022-03-09
184843    6211001        Gazole   2.509 2022-03-12
2110540  49160003        Gazole   2.509 2022-03-26
2132466  49480005        Gazole   2.509 2022-03-31

[150 rows x 4 columns]
               id nom_carburant  valeur        maj
2341336  56200003          SP95   2.779 2022-06-20
3396713  75007003          SP95   2.750 2022-11-04
379164   13006003          SP95   2.749 2022-03-09
385227   13008014          SP95   2.740 2022-03-09
3396708  75007003          SP95   2.740 2022-03-09
...           ...           ...     ...        ...
4383285  93400007          SP95   2.390 2022-07-12
700134   18330001          SP95   2.389 2022-06-07
1280678  32500003          SP95   2.389 2022-03-29
1671398  38290006          SP95   2.389 2022-03-10
1873809  43000006          SP95   2.389 2022-10-19

[150 rows x 4 columns]
               id nom_carburant  valeur        maj
3396720  75007003          SP98   2.780 2022-03-09
3396724  75007003          SP98   2.780 2022-11-04
3417254  75016011          SP98   2.780 2022-03-09
3410056  75014008          SP98   2.770 2022-03-11
465705   13270005          SP98   2.749 2022-11-10
...           ...           ...     ...        ...
678250   17800005          SP98   2.549 2022-06-07
1422539  34110002          SP98   2.549 2022-03-12
1616545  37380003          SP98   2.549 2022-06-03
2132638  49480005          SP98   2.549 2022-03-26
2217188  51390002          SP98   2.549 2022-06-01

[150 rows x 4 columns]
               id nom_carburant  valeur        maj
3195410  70300009           E10   2.727 2022-01-03
875921   25000023           E10   2.691 2022-12-05
777857   21540002           E10   2.690 2022-06-18
223104    6650003           E10   2.590 2022-03-10
4353454  93160006           E10   2.570 2022-07-08
...           ...           ...     ...        ...
351331   12000007           E10   2.425 2022-03-14
902341   25640009           E10   2.425 2022-06-10
1020484  28160008           E10   2.424 2022-06-16
1394833  33720007           E10   2.423 2022-06-02
2165422  50420001           E10   2.421 2022-06-07

[150 rows x 4 columns]
               id nom_carburant  valeur        maj
4165142  89340004          GPLc   1.389 2022-03-10
4165143  89340004          GPLc   1.389 2022-03-17
4165144  89340004          GPLc   1.389 2022-03-27
4165145  89340004          GPLc   1.389 2022-04-02
4165146  89340004          GPLc   1.389 2022-09-06
...           ...           ...     ...        ...
3622407  77760003          GPLc   1.175 2022-04-02
3622408  77760003          GPLc   1.175 2022-04-03
3622409  77760003          GPLc   1.175 2022-04-05
3622410  77760003          GPLc   1.175 2022-04-10
3622411  77760003          GPLc   1.175 2022-04-12

[150 rows x 4 columns]
               id nom_carburant  valeur        maj
1743897  39500001           E85   1.399 2022-07-16
323678   11100009           E85   1.391 2022-09-26
325485   11100013           E85   1.370 2022-09-26
1743898  39500001           E85   1.359 2022-07-26
3231513  71270008           E85   1.359 2022-07-26
...           ...           ...     ...        ...
3135191  69360018           E85   1.214 2022-06-24
3135192  69360018           E85   1.214 2022-06-28
3135193  69360018           E85   1.214 2022-06-30
3135194  69360018           E85   1.214 2022-07-01
50920     2000007           E85   1.209 2022-11-18

[150 rows x 4 columns]

In [48]:
df_last.to_hdf('df_v3.h5',key='df_v3',mode='w')