**Purpose of the notebook: Perform statistical tests on mean and variance for retail fuel prices and Brent crude oil.**

In [2]:
import os
os.chdir("C:/Users/zetru/OneDrive/Mémoire python/")
import numpy as np
import pandas as pd
df=pd.read_hdf('df_v5.h5','df_v5')
df

,cp,id,nom_carburant,id_carburant,maj,valeur,litre_brut,type,latitude,longitude,ville,stations_rayon_5km,competition_geo
0,01,1000001,Gazole,1,2022-01-03,0.702500,0.435626,R,46.201,5.198,SAINT-DENIS-LèS-BOURG,5,3
1,01,1000001,Gazole,1,2022-01-05,0.692500,0.447949,R,46.201,5.198,SAINT-DENIS-LèS-BOURG,5,3
2,01,1000001,Gazole,1,2022-01-10,0.728333,0.452874,R,46.201,5.198,SAINT-DENIS-LèS-BOURG,5,3
3,01,1000001,Gazole,1,2022-01-17,0.739167,0.484043,R,46.201,5.198,SAINT-DENIS-LèS-BOURG,5,3
4,01,1000001,Gazole,1,2022-01-21,0.769167,0.497616,R,46.201,5.198,SAINT-DENIS-LèS-BOURG,5,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4537444,95,95870010,SP98,6,2022-12-23,0.856233,0.488413,R,48.936,2.206,Bezons,15,4
4537445,95,95870010,SP98,6,2022-12-27,0.874567,0.487324,R,48.936,2.206,Bezons,15,4
4537446,95,95870010,SP98,6,2022-12-28,0.874567,0.484175,R,48.936,2.206,Bezons,15,4
4537447,95,95870010,SP98,6,2022-12-29,0.879567,0.477600,R,48.936,2.206,Bezons,15,4
4537448,95,95870010,SP98,6,2022-12-30,0.886233,0.486593,R,48.936,2.206,Bezons,15,4

In [3]:
df['nom_carburant'] = df['nom_carburant'].replace({'E10': 'SP95-E10'})

In [4]:
df_corr_a=pd.DataFrame(df[df['type']=='A'].groupby(['nom_carburant','maj'])[['valeur','litre_brut']].mean()).reset_index()

In [5]:
df_corr_r=pd.DataFrame(df[df['type']=='R'].groupby(['nom_carburant','maj'])[['valeur','litre_brut']].mean()).reset_index()

In [6]:
def f_correlation(x):
    x=x.iloc[:,-2:]
    return x.corr()
df_corr_r=df_corr_r.groupby('nom_carburant').apply(f_correlation)

In [7]:
def f_correlation(x):
    x=x.iloc[:,-2:]
    return x.corr()
df_corr_a=df_corr_a.groupby('nom_carburant').apply(f_correlation)

In [8]:
df_corr_a

                            valeur  litre_brut
nom_carburant
E85           valeur      1.000000    0.330473
              litre_brut  0.330473    1.000000
GPLc          valeur      1.000000    0.421298
              litre_brut  0.421298    1.000000
Gazole        valeur      1.000000    0.791620
              litre_brut  0.791620    1.000000
SP95          valeur      1.000000    0.854859
              litre_brut  0.854859    1.000000
SP95-E10      valeur      1.000000    0.902743
              litre_brut  0.902743    1.000000
SP98          valeur      1.000000    0.897102
              litre_brut  0.897102    1.000000

In [9]:
def f_correlation(x):
    x=x.iloc[:,-2:]
    return x.corr().iloc[0, 1]
print('Corrélation entre Brent et carburants de stations-services sur Autoroute')
print(df_corr_a.groupby('nom_carburant').apply(f_correlation))
print('Corrélation entre Brent et carburants de stations-services sur Route')
print(df_corr_r.groupby('nom_carburant').apply(f_correlation))

Corrélation entre Brent et carburants de stations-services sur Autoroute
nom_carburant
E85        -1.0
GPLc       -1.0
Gazole     -1.0
SP95       -1.0
SP95-E10   -1.0
SP98       -1.0
dtype: float64
Corrélation entre Brent et carburants de stations-services sur Route
nom_carburant
E85        -1.0
GPLc       -1.0
Gazole     -1.0
SP95       -1.0
SP95-E10   -1.0
SP98       -1.0
dtype: float64

In [10]:
df_corr=pd.DataFrame(df.groupby(['nom_carburant','maj'])[['valeur','litre_brut']].mean()).reset_index()

In [11]:
df_corr1=df_corr[~((df_corr['nom_carburant']=='GPLc')|(df_corr['nom_carburant']=='E85'))]
df_corr1.groupby('nom_carburant').apply(f_correlation)

nom_carburant
Gazole      0.778770
SP95        0.904587
SP95-E10    0.909084
SP98        0.907613
dtype: float64

In [12]:
df_corr_ar=pd.DataFrame(df.groupby(['type','nom_carburant','maj'])[['valeur','litre_brut']].mean())
df_corr_ar

                                 valeur  litre_brut
type nom_carburant maj
A    E85           2022-01-01  0.580212    0.427234
                   2022-01-02  0.580259    0.427234
                   2022-01-03  0.574908    0.435626
                   2022-01-04  0.577283    0.442323
                   2022-01-05  0.577245    0.447949
...                                 ...         ...
R    SP98          2022-12-27  0.825403    0.487324
                   2022-12-28  0.826612    0.484175
                   2022-12-29  0.841828    0.477600
                   2022-12-30  0.846912    0.486593
                   2022-12-31  0.847749    0.488417

[4309 rows x 2 columns]

In [13]:
df_signi=pd.DataFrame(df.groupby(["nom_carburant","maj","type"])['valeur'].mean()).reset_index()

In [14]:
df_signi

     nom_carburant        maj type    valeur
0              E85 2022-01-01    A  0.580212
1              E85 2022-01-01    R  0.497304
2              E85 2022-01-02    A  0.580259
3              E85 2022-01-02    R  0.498646
4              E85 2022-01-03    A  0.574908
...            ...        ...  ...       ...
4304          SP98 2022-12-29    R  0.841828
4305          SP98 2022-12-30    A  1.003133
4306          SP98 2022-12-30    R  0.846912
4307          SP98 2022-12-31    A  0.928286
4308          SP98 2022-12-31    R  0.847749

[4309 rows x 4 columns]

In [15]:
df_signi_a=df_signi[(df_signi['type']=='A')]

In [16]:
df_signi_r=df_signi[(df_signi['type']=='R')]

In [17]:
import numpy as np
from scipy import stats
resultat=[]

# Effectuer le test de Student
for carburant in df_signi_a['nom_carburant'].unique():
    df_signi_atest=df_signi_a[df_signi_a['nom_carburant']==carburant].iloc[:,-1]
    df_signi_rtest=df_signi_r[df_signi_r['nom_carburant']==carburant].iloc[:,-1]
    t_stat, p_value = stats.ttest_ind(df_signi_atest, df_signi_rtest, equal_var=True)
    if p_value < 0.05:
        interprétation="Moyennes significativement différentes."
    else:
        interprétation="Pas de différence significative."
    
    resultat.append({
        'carburant':carburant,
        'Statistique T':t_stat,
        'P-value':p_value,
        'Interprétation':interprétation})
print('Test de Student :')
pd.DataFrame(resultat)

Test de Student :

,carburant,Statistique T,P-value,Interprétation
0,E85,6.548601,1.097180e-10,Moyennes significativement différentes.
1,GPLc,26.873514,4.776747e-111,Moyennes significativement différentes.
2,Gazole,8.446482,1.623602e-16,Moyennes significativement différentes.
3,SP95,1.377391,1.688606e-01,Pas de différence significative.
4,SP95-E10,10.317616,2.184581e-23,Moyennes significativement différentes.
5,SP98,10.464462,5.715398e-24,Moyennes significativement différentes.

In [18]:
pd.DataFrame(resultat).to_latex('tex/Test de Student.tex',index=False)

In [19]:
resultat2=[]
for carburant in df_signi_a['nom_carburant'].unique():
    df_signi_atest=df_signi_a[df_signi_a['nom_carburant']==carburant].iloc[:,-1]
    df_signi_rtest=df_signi_r[df_signi_r['nom_carburant']==carburant].iloc[:,-1]
    w_stat, p_value = stats.levene(df_signi_atest, df_signi_rtest)
    # Interprétation du résultat
    if p_value > 0.05:
        interprétation='Variances égales entre les groupes.'
    else:
        interprétation='Différence significative dans les variances.'
    resultat2.append({
        'carburant':carburant,
        'Statistique W':w_stat,
        'P-value':p_value,
        'Interprétation':interprétation})
print('Test de Levene :')
pd.DataFrame(resultat2)

Test de Levene :

  carburant  Statistique W   P-value                       Interprétation
0       E85       2.274584  0.131944  Variances égales entre les groupes.
1      GPLc       3.634755  0.056978  Variances égales entre les groupes.
2    Gazole       0.321226  0.571047  Variances égales entre les groupes.
3      SP95       0.058831  0.808429  Variances égales entre les groupes.
4  SP95-E10       0.000727  0.978493  Variances égales entre les groupes.
5      SP98       0.021499  0.883468  Variances égales entre les groupes.

In [20]:
pd.DataFrame(resultat2).to_latex('tex/Test de Levene.tex',index=False)

In [21]:
for carburant in df_signi_a['nom_carburant'].unique():
    print(f"Variance {carburant} autoroute : {np.var(df_signi_a[df_signi_a['nom_carburant']==carburant].iloc[:,-1]):.5f}")
    print(f"Variance {carburant} route : {np.var(df_signi_r[df_signi_r['nom_carburant']==carburant].iloc[:,-1]):.5f}")

Variance E85 autoroute : 0.00495
Variance E85 route : 0.00690
Variance GPLc autoroute : 0.00226
Variance GPLc route : 0.00180
Variance Gazole autoroute : 0.02192
Variance Gazole route : 0.02367
Variance SP95 autoroute : 0.01737
Variance SP95 route : 0.01879
Variance SP95-E10 autoroute : 0.01937
Variance SP95-E10 route : 0.01889
Variance SP98 autoroute : 0.01993
Variance SP98 route : 0.01969